In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('D:\Data_set\FoodPrice_in_Turkey.csv')

In [4]:
df.shape

(7381, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [9]:
df_mean=df.groupby('ProductName')['Price'].mean()

ProductName
Apples (red) - Retail       2.392193
Apples - Retail             3.885039
Bananas - Retail            8.224784
Beans (white) - Retail      9.572830
Bread (common) - Retail     4.463293
Bread (pita) - Retail       2.404545
Bulgur - Retail             3.516712
Cabbage - Retail            1.723395
Cauliflower - Retail        3.274868
Cheese - Retail            25.522875
Name: Price, dtype: float64

In [4]:
df.to_csv('demo_Food.csv')

In [8]:
df.to_excel('demo_FoodPrice.xlsx')

In [9]:
df.to_json('demo_Food.json',orient='columns')

In [ ]:
df.to_hdf('demo_Food.h5','table')

In [12]:
df.to_html('demo_food.html')