In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('D:\Data_set\GDPlist.csv',encoding='ISO-8859-1')

In [4]:
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [5]:
df.shape

(125, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [8]:
df.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [11]:
min_GDP=df['GDP (millions of US$)'].min()
min_GDP

10600

In [13]:
max_GDP=df['GDP (millions of US$)'].max()
max_GDP

15094025

In [60]:
df_GDP=df.loc[:,'GDP (millions of US$)']

In [65]:
df_GDP.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [62]:
df_mean=df_GDP.mean()
df_mean

555427.784

In [63]:
df_median=df_GDP.median()
df_median

96089.0

In [23]:
country=df['Country'].value_counts().index[0]
country

'\xa0Afghanistan'

In [40]:
df_sumGDP=df.groupby('Continent')['GDP (millions of US$)'].sum().reset_index()
df_sumGDP.rename(columns={'GDP (millions of US$)':'Sum_GDP'},inplace=True)
df_sumGDP

       Continent   Sum_GDP
0         Africa   1820811
1           Asia  24425891
2         Europe  19139380
3  North America  18238447
4        Oceania   1662727
5  South America   4141217

In [44]:
df_meanGDP=df.groupby('Continent')['GDP (millions of US$)'].mean().reset_index()
df_meanGDP.rename(columns={'GDP (millions of US$)': 'Mean GDP'},inplace=True)
df_meanGDP

       Continent      Mean GDP
0         Africa  6.278659e+04
1           Asia  6.784970e+05
2         Europe  5.172805e+05
3  North America  1.658041e+06
4        Oceania  5.542423e+05
5  South America  4.601352e+05

In [49]:
df_merge=pd.merge(df_sumGDP,df_meanGDP,on='Continent')
df_merge

       Continent   Sum_GDP      Mean GDP
0         Africa   1820811  6.278659e+04
1           Asia  24425891  6.784970e+05
2         Europe  19139380  5.172805e+05
3  North America  18238447  1.658041e+06
4        Oceania   1662727  5.542423e+05
5  South America   4141217  4.601352e+05